<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/ericricketts/Documents/LearningJava/TestNGVideos/LearnTestNG">
        <classes>
            <class name="org.example.FirstPersonTest">
                <methods>
                    <include name="testGetAge"/>
                    <include name="testGetFullName"/>
                    <include name="testGetFirstName"/>
                    <include name="testGetLastName"/>
                </methods>
            </class>
            <class name="org.example.SecondPersonTest">
                <!--
                It is not necessary to include the <methods></methods>
                tag, if we just list the class name then all the tests
                in the class will be run as this ThirdPersonTest demonstrates.
                -->
                <methods>
                    <include name="testAgeAndName"/>
                    <include name="testSetAge"/>
                </methods>
            </class>
            <class name="org.example.ThirdPersonTest"></class>
        </classes>
    </test>
</suite>