<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/ericricketts/Documents/LearningJava/TestNGVideos/LearnTestNG">
        <classes>
            <class name="org.example.PersonTest">
                <methods>
                    <include name="testGetAge"/>
                    <include name="testGetFullName"/>
                    <include name="testGetFirstName"/>
                    <include name="testGetLastName"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>